
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Bitirme_Proje.EntityFramework.Entities
@model ShoppingList

@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    string mail = ViewBag.UserMail;
}

@section user_mail
{
    @mail
}

<br />
<form asp-controller="Shopping" asp-action="EndShopping" method="post">
    <input name="listId" value="@Model.Id" type="hidden" />
    <table class="table table-bordered">
        @foreach (var item in Model.ListProducts)
        {
            <tr>
                <td style="color:blue">@item.Product.Name</td>
            </tr>
        }
    </table>
    <button type="submit">End Shopping</button>
</form>

