
<html>
    <head>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    </head>
    <body>

        <a href="/Home/Login" class="btn btn-info">Login</a>
        <a href="/Home/Register" class="btn btn-info">Register</a>

    </body>
</html>