
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Bitirme_Proje.EntityFramework.Entities
@model User

<html>
    <head></head>
    <body>
        <form href="/Home/Register" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <table>
                <tr>
                    <td>FirstName</td>
                    <td><input name="FirstName" type="text" /></td>
                </tr>
                <tr>
                    <td>LastName</td>
                    <td><input name="LastName" type="text" /></td>
                </tr>
                <tr>
                    <td>Mail</td>
                    <td><input name="Mail" type="email" /></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input name="Password" type="password" /></td>
                </tr>
                <tr>
                    <td>Password2</td>
                    <td><input name="Password2" type="password" /></td>
                </tr>
            </table>
            <button type="submit">Register</button>
        </form>
        <br />
        <a href="/Home/Index">Back To HomePage</a>
    </body>
</html>